.grid {
  display: grid;
  grid-template-rows: 48px auto 48px; // header, scroll-area, footer
  // 100vh is buggy on mobile browsers,
  // so position fixed and following lines are needed
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
